* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; }
.slideshow-container {
    width: 100%;
    height: auto; /* Ubah dari 1080px ke auto */
    max-width: 1920px;
    overflow: hidden;
  
}

header, .navbar {
    min-height: auto; /* Atur agar tidak terlalu tinggi */
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slide .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 3rem;
    border-radius: 5px;
    text-align: center;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}
.prev { left: 20px; }
.next { right: 20px; }

@media (max-width: 768px) {
    .slide img {
        object-fit: contain;
    }
    .slide .text {
        font-size: 18px;
        padding: 8px 16px;
    }
}